.successOrFailureMessage {
    min-height: 41px;
    background-color: skyblue;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 550px;
    max-width: 550px;
    margin-top: 8px;
}


.successOrFailureMessage p{
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0;
}