{% extends 'main/base.html' %}


{% load static %}
{% load crispy_forms_tags %}



{% block content %}


<div class="container my-5 my_background">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div style="height: 320px; overflow-y: scroll;">
            <h5>List of Guests</h5>
            <hr class="my-4">
            <br>
            {% if guests %}
            {% for guest in guests %}
            <ul>
                <a href=" {% url 'guest-log' pk=guest.pk %} ">
                    <h4>{{guest.unit}} - {{guest.guest_first_name}} {{guest.guest_last_name}}
                    </h4>
                </a>
            </ul>
            {% endfor %}
            {% endif %}
        </div>
        <hr>

        <div class="col-10 mx-auto col-lg-10 login-container" style="height: 500px;">

            <a href=" {% url 'home' %} "> <button class="btn btn-light">Back</button></a>
            <button id='log-button'>logs</button>

            <div class="p-5 border rounded-3 bg-light mt-5" id="log-table" style="display: none; max-height: 350px; overflow-y: scroll;">
                <table style="border: 1px solid black;">
                    <tr>
                        <th style="padding-right: 100px; border: 1px solid black;">Unit</th>
                        <th style="padding-right: 100px; border: 1px solid black;">First Name</th>
                        <th style="padding-right: 100px; border: 1px solid black;">Last Name</th>
                        <th style="padding-right: 100px; border: 1px solid black;">Time And Date</th>
                        <th style="padding-right: 100px; border: 1px solid black;">Company</th>
                    </tr>

                    {% if logs %}
                    {% for log in logs %}
                    <tr>
                        <td style="border: 1px solid black;">{{log.unit}}</td>
                        <td style="border: 1px solid black;">{{log.first_name}}</td>
                        <td style="border: 1px solid black;">{{log.last_name}}</td>
                        <td style="border: 1px solid black;">{{log.time_logged}}</td>
                        <td style="border: 1px solid black;">{{log.company}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </table>






            </div>


        </div>


    </div>

</div>
<script src=" {% static 'main/js/script.js' %} "></script>
{% endblock content %}